################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SelfEduNet/appsettings.Development.json
/SelfEduNet/appsettings.Development.json
/.vs
/SelfEduNet/appsettings.Development.json
