@model SelfEduNet.ViewModels.CreateCourseViewModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "Створення курсу";
}
<div class="marco-layout">
	<div class="container-fluid">
		<div class="row">
			@await Html.PartialAsync("_TeachSidepanel")
			<div class="col-md-9">
				<div class="catalog-main-content">
					<form method="post" asp-action="CreateCourse">

						<input type="hidden" asp-for="OwnerId" />
						<div class="row mb-30">
							<div class="col-md-12">
								<label asp-for="CourseName">Заголовок</label>
								<input asp-for="CourseName" type="text" class="form-control" placeholder="Введіть заголовок">
								<span asp-validation-for="CourseName" class="text-danger"></span>
							</div>
						</div>
						<button type="submit" class="button-3 text-center">Створити курс</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>