body {
    font-family: Mulish, sans-serif !important;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    min-width: 320px;
    height: 100%;
    margin: 0;
}

.course-img {
    width: 200px;
}

.main-content {
    padding: 32px 0 64px;
    padding-left: 32px;
}

.upload-box {
    width: auto;
    height: auto;
    border-radius: 8px;
    display: block;
    text-align: center;
    transition: border-color 0.3s ease;
}

.upload-box-border {
    border: 2px dashed #ccc;
}

.upload-box:hover {
    border-color: #007bff;
}

.create-list {
    padding: 1.875em;
}

    .create-list .plugins-list__header {
        text-align: center;
        margin: 0 0 .1em;
    }

.st-h1 {
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 32px;
    font-weight: 400;
}

.create-list .plugins-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.create-list .plugins-list__item {
    flex-basis: 49%;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: .75em;
    align-items: center;
    transition: background-color .3s;
    cursor: pointer;
}

.create-list .plugin-list__item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
}

.create-list .plugin-list__item-descr {
    margin-top: 4px;
    font-size: 14px;
    line-height: 15px;
    color: #a5a5a5;
    vertical-align: middle;
}

.modal-dialog .modal-dialog-block .modal-dialog__content {
    padding: 10px 30px 20px;
    position: relative;
}

.svg-icon {
    position: relative;
}

.plugins-list__item:hover {
    background-color: #eeeeee;
}
/*Video step*/
.step-text-wrapper {
    line-height: 1.6em;
    color: #000;
    font-family: Roboto,sans-serif;
    overflow: hidden;
    outline: 0;
    border-style: none;
    shadow: none;
    text-align: left;
    height: 100%;
}

.step-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 6px;
    background-color: #e0e0e0;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

    .step-btn:hover {
        background-color: #c3c3c3;
        color: white;
    }

    .step-btn.completed {
        background-color: #5bcc0d;
        color: white;
    }

    .step-btn.active {
        background-color: #c044d8;
        color: white;
    }

/* CSS */
.button-3 {
    appearance: none;
    background-color: #d200ea;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 9px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    height: 42px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #ee5fff;
}

.button-3:focus {
    box-shadow: rgb(210, 0, 234) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #f1aff8;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: #a600b9;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.bg-form-color{
    background-color: #f0ebf8;
}

.bg-dark-form-color {
    background-color: #673ab7;
}
