@{
	ViewData["Title"] = "Активні курси";
	Layout = "_Layout";
}
@model IEnumerable<SelfEduNet.Models.UserCourse>

<div class="container-fluid">
	<div class="row justify-content-center mb-40">
		<div class="container-xl">
				<div class="row">
					@await Html.PartialAsync("_LearningSidepanel")
					<div class="col-md-8 px-5 mt-40">
						<div class="catalog-search-bar">
							<div class="d-flex flex-row justify-content-center align-items-center catalog-search-form">
								
								<form method="get" class="active-courses-search-form search-form d-flex align-items-center flex-fill">
									<div class="input-group flex-grow-1 me-3">
										<span class="input-group-text">
											<i class="fa-solid fa-magnifying-glass"></i>
										</span>

										<input type="text"
										       placeholder="Пошук ..."
										       class="form-control nice-select"
										       name="Query"
										       value="@ViewData["Query"]" />
									</div>
									<div class="d-none d-md-flex">
										<button class="button-3 flex-fill me-3">Пошук</button>
									</div>
									<div class="d-flex d-md-none">
										<button class="filters-btn" type="submit">
											<i class="fa-solid fa-magnifying-glass"></i>
										</button>
									</div>

								</form>

							</div>
						</div>
						<div class="row">
							<div class="active-filters d-flex flex-wrap mb-3">
								<!-- Filter display will go here -->
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="courses-list" id="active-courses-container">
									@if (Model.Any())
									{
										@await Html.PartialAsync("_GetActiveCourses")
									}
									else
									{
										<h2 class="text-center">Нічого не знайдено</h2>
									}
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

@section Scripts {
	
	<script>
			$(document).ready(function () {

				$(document).on("submit", '.active-courses-search-form', function (event) {
					event.preventDefault();
					var data = $(this).serialize();
					renderActiveCoursesList(data);
				});
				$(document).on("keydown", '.active-courses-search-form', function (event) {
					if (event.key === 'Enter') {
						event.preventDefault();
						var data = $(this).serialize();
						renderActiveCoursesList(data);
					}
				});
		});
		function renderActiveCoursesList(data) {
			$.ajax({
				url: '/Learn/Learning/RenderUserCoursesList/',
				type: 'GET',
				data: data,
				success: function (response) {
					$('#active-courses-container').html(response);
				},
				error: function (xhr, status, error) {
					console.error("Error loading courses list: ", status, error);
				}
			});
		}
	</script>
}