@{
	ViewData["Title"] = "Список бажань";
	Layout = "_Layout";
}
@model IEnumerable<UserCourse>
<div class="container-fluid">
	<div class="row justify-content-center mb-40">
		<div class="container-xl">
			<div class="row">
				@await Html.PartialAsync("_LearningSidepanel")
				<div class="col-md-8 px-5 mt-40">
					@if (Model.Any())
					{
						<h2 class="mb-3 mt-40">Список бажань</h2>
						@await Html.PartialAsync("_GetWishedCourses")
					}
					else
					{
						<div class="d-flex flex-column justify-content-center">
							<h2 class="text-center mb-3">
								Список бажань пустий.
								<br />
								<a asp-action="Index" asp-controller="Catalog" asp-area="" class="button-3 w-50 mt-3">Перейти до каталогу</a>
							</h2>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

