@model SelfEduNet.ViewModels.CourseContentViewModel

<div class="col-md-3 border-end ">
	<div class="d-flex flex-column sticky-top stick-filter d-none d-md-flex">
		<a asp-action="CreateCourse" asp-controller="TeachCourse" asp-area="Teach" class="a-purple mb-3">Створити курс</a>
		@if (Model.Lessons.Any())
		{
			<a asp-action="EditLesson" asp-controller="Lesson" asp-area="Teach" class="a-purple mb-3" asp-route-courseId="@Model.Id">
				Редагувати уроки
			</a>
		}
		<a asp-action="EditInfo" asp-controller="Course" asp-area="" class="a-purple mb-3" asp-route-id="@Model.Id">
			Редагувати інформацію про курс
		</a>
	</div>
</div>