
<form method="get" class="teach-courses-search-form search-form d-flex align-items-center flex-fill">
	<div class="d-flex me-3">
		<select name="Status" data-btn-label="Статус" class="nice-select wide">
			<option value="All">Всі</option>
			<option value="Published">Опубліковані</option>
			<option value="Draft">Чорнетки</option>
		</select>
	</div>
	<div class="input-group flex-fill me-3">
		<span class="input-group-text">
			<i class="fa-solid fa-magnifying-glass"></i>
		</span>

		<input type="text"
		       placeholder="Пошук ..."
		       class="form-control nice-select"
		       name="Query"
		       value="@ViewData["Query"]" />
	</div>
	<div class="d-none d-md-flex">
		<button class="button-3 flex-fill me-3">Пошук</button>
	</div>
	<div class="d-flex d-md-none">
		<button class="filters-btn" type="submit">
			<i class="fa-solid fa-magnifying-glass"></i>
		</button>
	</div>

</form>

