<div class="col-md-3 border-end ">
	<div class="d-flex flex-column sticky-top stick-filter d-none d-md-flex">
	@if (Model != null)
	{
		<a asp-action="CreateCourse" asp-controller="TeachCourse" asp-area="Teach" class="a-purple mb-3">Створити курс</a>
	}
	</div>
</div>
