<div class="flex-shrink-0 p-0  border-end" style="width: 280px; height: 100vh;">
	<div class="d-flex align-items-center pb-3 mb-3 border-bottom mt-40 ps-5">
		<a asp-area="Learn" asp-action="Index" asp-controller="Learning" class="d-inline-flex text-decoration-none rounded fs-4 a-purple mb-3">
			<span class="fs-3 fw-semibold"><i class="fa-solid fa-graduation-cap"></i> Моє навчання</span>
		</a>
	</div> 
	<ul class="list-unstyled ps-0">
		<li class="mb-1">
			<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 fs-4 ps-5 mb-3" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
				<i class="fa-solid fa-book-open"></i>&nbsp;Курси
			</button> 
			<div class="collapse show" id="home-collapse" style="">
			<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ml-50">
					<li><a asp-action="ActiveCourses" asp-controller="Learning" asp-area="Learn" class=" d-inline-flex text-decoration-none rounded fs-4 a-purple mb-3">Активні</a></li>
					<li><a asp-action="CompletedCourses" asp-controller="Learning" asp-area="Learn" class=" d-inline-flex text-decoration-none rounded fs-4 a-purple mb-3">Пройдені</a></li>
					<li><a asp-action="WishedCourses" asp-controller="Learning" asp-area="Learn" class=" d-inline-flex text-decoration-none rounded fs-4 a-purple mb-3">Хочу пройти</a></li>
				</ul>
			</div>
		</li>
		<li class="mb-1">
			<a href="#" class="nav-link px-0 align-middle">
				<span class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed fs-4 ps-5  mb-3">
					<i class="fa-solid fa-chart-simple"></i>&nbsp;Аналітика
				</span>
			</a>
		</li>
	</ul>
</div>