@using SelfEduNet.Data.Enum
@model Step


<div class="row">
	@switch (@Model.StepType)
	{
		case StepType.Text:
			@await Html.PartialAsync("EditLessonMode/_EditTextStep")
			break;

		case StepType.Video:
			@await Html.PartialAsync("EditLessonMode/_EditVideoStep")
			break;

		case StepType.Test:
			@await Html.PartialAsync("EditLessonMode/_EditTestStep")
			break;
	}
</div>
