@page
@model EmailModel
@{
    ViewData["Title"] = "Змінити Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}


<partial name="_StatusMessage" for="StatusMessage" />
<div class="row justify-content-center mt-30 mb-50">
	<div class="col-md-6">
		<h1 class="mb-5">@ViewData["Title"]</h1>
		<form id="email-form" method="post">
			<div asp-validation-summary="All" class="text-danger" role="alert"></div>
			@if (Model.IsEmailConfirmed)
			{
				<label asp-for="Email" class="form-label"></label>
				<div class="mb-3 input-group">
					<input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled/>
					<div class="input-group-append">
						<span class="h-100 input-group-text text-success font-weight-bold">✓</span>
					</div>

				</div>
			}
			else
			{
				<div class=" mb-3">
					<label asp-for="Email" class="form-label"></label>
					<input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled/>
					<button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="button-3">Відправити лист для підтвердження email</button>
				</div>
			}
			<div class="mb-3">
				<label asp-for="Input.NewEmail" class="form-label"></label>
				<input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email."/>
				<span asp-validation-for="Input.NewEmail" class="text-danger"></span>
			</div>
			<button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="button-3">Змінити email</button>
		</form>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
