<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a648cebb-6a1b-4f28-a3fa-756cb880723d/resourceGroups/resource_group/providers/Microsoft.ContainerRegistry/registries/selfedunet</ResourceId>
    <ResourceName>selfedunet</ResourceName>
    <ResourceGroup>resource_group</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://selfedunet.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9d5dfc75-8abe-469a-a9ea-f2dc4db57845</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>