
<div id="authors-container" class="mt-3">
	@if (Model.Authors != null)
	{ 
		@foreach (var author in Model.Authors)
		{
			<div class="d-flex flex-column border-bottom border-1 ">
				<div class="row">
					<p>@author.FirstName @author.LastName</p>
				</div>
				<div class="row">
					<div class="col-11">
						<p>Email: @author.Email</p>
					</div>
					<div class="col-1">
						<a data-author-id="@author.Id"><i class="fa-solid fa-trash gj-cursor-pointer"></i></a>
					</div>
				</div>
			</div>
			<br/>
		}

	}
</div>