@using SelfEduNet.Data.Enum
@model IEnumerable<Course>
@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<div class="marco-layout">
	<div class="container-fluid">
		<div class="row">
			@await Html.PartialAsync("_TeachSidepanel", @Model.First().Id)
			<div class="col-md-9">
				<div class="catalog-main-content">
					@if (@Model.Count() > 0)
					{
						<div class="catalog-search-bar">
							<div class="d-flex flex-row justify-content-center align-items-center catalog-search-form">
								@await Html.PartialAsync("_TeachFiltersForm")

							</div>
						</div>
						<div class="row">
							<div class="active-filters d-flex flex-wrap mb-3">
								<!-- Filter display will go here -->
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="courses-list" id="courses-container">
									@await Html.PartialAsync("_GetCoursesWithEdit")
								</div>
							</div>
						</div>
					}
					else
					{
						<div class="d-flex justify-content-center">
							<div class="col-3">
								<div class="text-center d-flex flex-column">
									<h3 class="mb-3">Створіть свій перший курс</h3>
									<a asp-action="CreateCourse" asp-controller="TeachCourse" asp-area="Teach" class="button-4">Створити курс</a>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script src="~/js/courses-with-edit.js"></script>
	<script>
		$(document).ready(function () {

			$(document).on("submit", '.teach-courses-search-form', function (event) {
				event.preventDefault();
				var data = $(this).serialize();
				renderCoursesList(true, data);
			});
			$(document).on("keydown", '.teach-courses-search-form', function (event) {
				if (event.key === 'Enter') {
					event.preventDefault();
					var data = $(this).serialize();
					renderCoursesList(true, data);
				}
			});
	});
</script>
}