@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Підтвердження скидання пароля";
}

<div class="row justify-content-center mt-30 mb-50">
	<div class="col-md-6 text-center">
		<h1>@ViewData["Title"]</h1>
		<p>
			Перевірте вашу електронну пошту, щоб скинути пароль
		</p>

	</div>
</div>
