@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження електронної пошти";
}

@{
	<hr/>
<h1 class="text-center">
	Перевірте свою електронну пошту, щоб підтвердити обліковий запис.
</h1>

}

